<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog Post</title>
</head>
<body>
    <h3>Create Post</h3>
    <form method="post">
        <input type="text" placeholder="Enter the title" required name="title" /> <br>
        <input type="text" placeholder="Enter the title" required name="content" /> <br>
        <button type="submit">Add Post</button>
    </form>

    <a href="{{ url_for('home') }}">Return to home page</a>
</body>
</html>